.chatbotPage7Child {
  width: 5px;
  height: 5px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-palegreen);
  display: none;
}
.stop {
  position: relative;
  line-height: 12px;
}
.stopWrapper {
  width: 71.7px;
  height: 26.9px;
  background-color: var(--color-crimson);
  border: 0.5px solid var(--color-dimgray);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-5xs);
}
.frameIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frameWrapper {
  width: 56.8px;
  height: 40px;
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-5xs);
}
.frameChild {
  height: 847px;
  width: 1268px;
  position: relative;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-700);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
  z-index: 1;
}
.inputBackgroundIcon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.div {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-width: 15.9px;
  z-index: 4;
}
.div1 {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 5px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-width: 15.9px;
  z-index: 5;
}
.parent {
  height: 31px;
  width: 15.9px;
  position: absolute;
  margin: 0 !important;
  right: 18px;
  bottom: 41px;
}
.div3 {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.group {
  height: 31px;
  width: 36px;
  position: absolute;
  margin: 0 !important;
  bottom: 41px;
  left: 80px;
}
.div4 {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.div5 {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 5px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.container {
  height: 5px;
  width: 27.3px;
  position: absolute;
  margin: 0 !important;
  top: 3px;
  left: 84px;
}
.agentInteractionChild {
  width: 430px;
  height: 571px;
  position: relative;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.messageBubble {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: blur(15px);
  border: 0.5px solid var(--color-white);
  box-sizing: border-box;
  mix-blend-mode: screen;
  z-index: 3;
}
.chatHeaderChild {
  width: 430.7px;
  height: 31px;
  position: relative;
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.chatFeedBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: blur(15px);
  border: 0.5px solid var(--color-white);
  box-sizing: border-box;
  mix-blend-mode: screen;
  z-index: 5;
}
.chatInterface1 {
  width: 116.4px;
  position: relative;
  line-height: 5px;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  z-index: 6;
}
.feed {
  width: 124.8px;
  position: relative;
  line-height: 5px;
  color: var(--color-white);
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  z-index: 6;
}
.chatHeader {
  margin-left: -20.5px;
  width: 430.7px;
  height: 31px;
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-lgi) var(--padding-9xs);
  position: relative;
  gap: var(--gap-9xs);
  max-width: 112%;
  z-index: 4;
  text-align: right;
  font-size: var(--font-size-5xs);
  color: var(--color-gray-400);
}
.igor {
  color: var(--color-tomato-100);
}
.span {
  color: var(--color-white);
  white-space: pre-wrap;
}
.no1077665389 {
  color: var(--color-royalblue);
}
.igorId6537011825thu21 {
  margin-block-start: 0;
  margin-block-end: 10px;
  color: var(--color-gray-900);
}
.tellUsDid {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.zeVeryFabric {
  margin: 0;
}
.igorId6537011825thu21Container {
  position: relative;
  letter-spacing: -0.05em;
  line-height: 10px;
  flex-shrink: 0;
  z-index: 4;
}
.igorId6537011825thu21Container1 {
  position: relative;
  letter-spacing: -0.05em;
  line-height: 10px;
  flex-shrink: 0;
  z-index: 5;
  margin-top: -70px;
}
.idContent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.igorId {
  width: 212.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-smi);
  box-sizing: border-box;
  gap: 13px;
  text-align: left;
  color: var(--color-springgreen);
}
.igorId6537011825thu21Container4 {
  height: 79.9px;
  position: relative;
  letter-spacing: -0.05em;
  line-height: 10px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 4;
}
.igorId6537011825thu21Container5 {
  height: 79.9px;
  position: relative;
  letter-spacing: -0.05em;
  line-height: 10px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 5;
  margin-top: -79.9px;
}
.igorIdContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.igorIdContainerWrapper {
  width: 225.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-7xs);
  box-sizing: border-box;
  text-align: left;
  color: var(--color-springgreen);
}
.div7 {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 5px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.frameDiv {
  width: 27.3px;
  height: 31px;
  position: absolute;
  margin: 0 !important;
  bottom: -12px;
  left: -14px;
  font-family: var(--font-ibm-plex-mono);
}
.parent1 {
  width: 27.3px;
  height: 31px;
  position: absolute;
  margin: 0 !important;
  right: -14px;
  bottom: -12px;
  font-family: var(--font-ibm-plex-mono);
}
.userMessageBackground {
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 8;
}
.userMessageContent {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 6;
}
.userMessageContent1 {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 5px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 7;
}
.userMessageContentParent {
  position: absolute;
  right: 241.7px;
  bottom: 1px;
  width: 15.9px;
  height: 5px;
}
.botMessageBackground {
  position: absolute;
  top: 31px;
  left: 0px;
  width: 703.3px;
  height: 409px;
  object-fit: cover;
  z-index: 9;
}
.maskGroupIcon {
  position: absolute;
  top: 31px;
  left: 1px;
  width: 702.3px;
  height: 409px;
  object-fit: contain;
  z-index: 10;
}
.botMessageBubble {
  position: absolute;
  top: 0px;
  left: 1px;
  filter: blur(15px);
  border: 0.5px solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
}
.agentTitleChild {
  width: 703px;
  height: 31px;
  position: relative;
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.agentInteractionBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: blur(15px);
  border: 0.5px solid var(--color-white);
  box-sizing: border-box;
  mix-blend-mode: screen;
  z-index: 13;
}
.agentInteraction1 {
  width: 189.3px;
  position: relative;
  line-height: 5px;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  z-index: 14;
}
.feed1 {
  width: 202.9px;
  position: relative;
  line-height: 5px;
  color: var(--color-white);
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  z-index: 14;
}
.agentTitle {
  position: absolute;
  top: 0px;
  right: -3.4px;
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-15xl) var(--padding-9xs);
  gap: var(--gap-9xs);
  z-index: 12;
  text-align: right;
  font-size: var(--font-size-5xs);
  color: var(--color-gray-400);
  font-family: var(--font-vt323);
}
.agentHeader {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.userMessageBackgroundParent {
  position: absolute;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 21.3px;
  width: 703.3px;
}
.botMessageContent {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 14;
}
.botMessageContent1 {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 5px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 15;
}
.botMessageContentParent {
  position: absolute;
  top: 15px;
  left: 0px;
  width: 44.6px;
  height: 5px;
}
.frameContainer {
  width: 724.6px;
  height: 440px;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: -713.6px;
  font-family: var(--font-ibm-plex-mono);
}
.agentInteraction {
  position: absolute;
  top: 0px;
  left: 14px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) 173px;
  gap: 60px;
  max-width: 100%;
  z-index: 2;
  font-family: var(--font-vt323);
}
.parent2 {
  position: absolute;
  top: 15px;
  left: 0px;
  width: 27.3px;
  height: 5px;
}
.parent3 {
  position: absolute;
  top: 15px;
  left: 430.7px;
  width: 27.3px;
  height: 5px;
}
.chatInterface {
  height: 571px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.chatInterfaceWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
}
.div15 {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 7;
}
.parent4 {
  height: 5px;
  width: 36px;
  position: relative;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.div19 {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.parent6 {
  height: 5px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 9px;
  right: 0px;
  left: 0px;
}
.frameItem {
  height: 67px;
  width: 430px;
  position: relative;
  box-shadow: 2px 2px 8px rgba(67, 4, 0, 0.3);
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.frameInner {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: blur(10px);
  border: 0.5px solid var(--color-dimgray);
  box-sizing: border-box;
  mix-blend-mode: lighten;
  z-index: 1;
}
.rectangleDiv {
  width: 273px;
  height: 41px;
  position: relative;
  background-color: var(--color-gray-600);
  border: 0.5px solid var(--color-dimgray);
  box-sizing: border-box;
  display: none;
}
.typeYourMessage {
  width: 210.6px;
  position: relative;
  letter-spacing: -0.05em;
  line-height: 12px;
  display: flex;
  align-items: center;
  z-index: 1;
}
.rectangleContainer {
  flex: 1;
  background-color: var(--color-gray-600);
  border: 0.5px solid var(--color-dimgray);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-2xs) var(--padding-6xs);
  z-index: 2;
}
.frameFrame {
  width: 56.8px;
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-5xs);
  z-index: 6;
}
.mingcutesendFillIcon {
  height: 25px;
  width: 22.3px;
  position: relative;
  display: none;
}
.mingcutesendFillIcon1 {
  height: 25px;
  width: 22.3px;
  position: relative;
  z-index: 1;
}
.mingcutesendFillWrapper {
  height: 40px;
  width: 56.8px;
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-5xs);
}
.mingcutesendFillParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 6;
}
.groupDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 5;
}
.rectangleGroup {
  height: 67px;
  width: 430px;
  margin: 0 !important;
  position: absolute;
  top: -51px;
  right: -412px;
  box-shadow: 2px 2px 8px rgba(67, 4, 0, 0.3);
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-2xs);
  gap: 6.7px;
  z-index: 4;
  text-align: left;
  font-size: var(--font-size-5xs);
  font-family: var(--font-vt323);
}
.emptyElement {
  height: 31px;
  flex: 1;
  position: relative;
  line-height: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
}
.inputContent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}
.inputContainer {
  height: 31px;
  width: 36px;
  position: relative;
}
.input {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.statusContainerChild {
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
}
.statusBackground {
  position: absolute;
  top: 0px;
  left: 0px;
  filter: blur(15px);
  border: 0.5px solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  z-index: 3;
}
.statusLabelChild {
  width: 430px;
  height: 31px;
  position: relative;
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.simulation {
  width: 153px;
  position: relative;
  line-height: 5px;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  z-index: 6;
}
.running {
  width: 164px;
  position: relative;
  line-height: 5px;
  color: var(--color-white);
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  z-index: 6;
}
.statusLabel {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-lgi) var(--padding-9xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  z-index: 4;
}
.systemsStatus {
  position: absolute;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 279.6px;
}
.clickHereTo {
  height: 27px;
  flex: 1;
  position: relative;
  line-height: 5px;
  display: flex;
  align-items: center;
  z-index: 10;
}
.clickHereTo1 {
  height: 27px;
  flex: 1;
  position: relative;
  line-height: 5px;
  display: flex;
  align-items: center;
  z-index: 13;
  margin-left: -145px;
}
.endSimulationLink {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.stop1 {
  height: 24.2px;
  width: 126.9px;
  position: absolute;
  margin: 0 !important;
  top: 1.3px;
  right: -27.6px;
  font-size: var(--font-size-3xs);
  line-height: 12px;
  font-family: var(--font-vt323);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stopContainer {
  cursor: pointer;
  border: 0.5px solid var(--color-dimgray);
  padding: var(--padding-6xs) var(--padding-5xs);
  background-color: var(--color-crimson);
  height: 26.9px;
  width: 71.7px;
  filter: blur(10px);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  z-index: 5;
}
.stopContainer:hover {
  background-color: #f55959;
  border: 0.5px solid #757575;
  box-sizing: border-box;
}
.simulationEnd {
  position: absolute;
  top: 41px;
  left: 153px;
  width: 228.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.systemStatus {
  position: absolute;
  top: 11px;
  left: 14px;
  width: 381.7px;
  height: 109.9px;
  font-size: var(--font-size-3xs);
}
.statusContainer {
  position: absolute;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 18px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 430px;
  max-width: 100%;
  z-index: 2;
  text-align: right;
  font-size: var(--font-size-5xs);
  color: var(--color-gray-400);
  font-family: var(--font-vt323);
}
.parent8 {
  position: absolute;
  top: 15px;
  left: 0px;
  width: 36px;
  height: 5px;
}
.parent9 {
  position: absolute;
  top: 15px;
  left: 430px;
  width: 36px;
  height: 5px;
}
.simulationStatus {
  align-self: stretch;
  height: 109px;
  position: relative;
  max-width: 100%;
  margin-top: -6px;
}
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 62px;
  min-width: 466px;
  max-width: 100%;
}
.columnContent {
  height: 100%;
  width: 27.3px;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  bottom: 0px;
  left: -2.3px;
}
.div31 {
  flex: 1;
  position: relative;
  line-height: 5px;
  font-weight: 500;
  z-index: 4;
}
.footerColumns {
  height: 5px;
  width: 44.6px;
  position: relative;
}
.agentInteractionSeparatorParent {
  align-self: stretch;
  height: 5px;
  position: relative;
}
.footerDivider {
  width: 44.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 26px;
}
.quantumSurveillanceItem {
  height: 31px;
  flex: 1;
  position: relative;
  line-height: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 12;
}
.quantumSurveillanceItemTimeParent {
  height: 5px;
  width: 28.1px;
  position: absolute;
  margin: 0 !important;
  top: 10px;
  left: 8px;
}
.div35 {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 5px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 13;
}
.footerItem {
  height: 31px;
  width: 44.6px;
  position: relative;
}
.quantumSurveillanceItemContParent {
  height: 5px;
  width: 15.9px;
  position: absolute;
  margin: 0 !important;
  top: 10px;
  right: 14px;
}
.quantumSurveillanceSeparator {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 12;
}
.dividerSpace {
  height: 5px;
  width: 28.1px;
  position: absolute;
  margin: 0 !important;
  top: 10px;
  right: 269px;
}
.footerItemRow {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  gap: var(--gap-xl);
}
.feedUpdatesChild {
  align-self: stretch;
  height: 322px;
  position: relative;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  display: none;
  z-index: 0;
}
.quantumSurveillanceFeedBack {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: blur(15px);
  border: 0.5px solid var(--color-white);
  box-sizing: border-box;
  mix-blend-mode: screen;
  z-index: 15;
}
.feedTitleChild {
  width: 441.9px;
  height: 31px;
  position: relative;
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.quantumSurveillanceFeedTitl {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: blur(15px);
  border: 0.5px solid var(--color-white);
  box-sizing: border-box;
  mix-blend-mode: screen;
  z-index: 17;
}
.quantumSurveillance {
  width: 119.5px;
  position: relative;
  line-height: 5px;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  z-index: 18;
}
.feed2 {
  width: 128px;
  position: relative;
  line-height: 5px;
  color: var(--color-white);
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  z-index: 18;
}
.feedTitle {
  align-self: stretch;
  height: 31px;
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-lgi) var(--padding-9xs);
  position: relative;
  gap: var(--gap-9xs);
  max-width: 100%;
  z-index: 16;
  text-align: right;
  color: var(--color-gray-400);
}
.pm {
  color: var(--color-gold);
}
.pmUpdatingTheUniversalContainer {
  align-self: stretch;
  position: relative;
  line-height: 12px;
  z-index: 16;
}
.pmUpdatingTheUniversalContainer1 {
  align-self: stretch;
  position: relative;
  line-height: 12px;
  filter: blur(10px);
  mix-blend-mode: screen;
  z-index: 17;
  margin-top: -232px;
}
.updateItem {
  width: 297.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-2xl);
  box-sizing: border-box;
  text-align: left;
  color: var(--color-aqua);
}
.surveillanceFeedDetail {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.surveillanceFeedDetailItemParent {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  bottom: 0px;
  left: -15px;
}
.div38 {
  height: 31px;
  flex: 1;
  position: relative;
  line-height: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 16;
}
.surveillanceFeedDetails {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 5px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 17;
}
.feedUpdate {
  width: 28.1px;
  height: 31px;
  position: absolute;
  margin: 0 !important;
  bottom: -15px;
  left: -14px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-ibm-plex-mono);
}
.parent11 {
  height: 100%;
  width: 15.9px;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: -4.9px;
  bottom: 0px;
}
.feedUpdate1 {
  width: 28.1px;
  height: 31px;
  position: absolute;
  margin: 0 !important;
  right: -14.1px;
  bottom: -15px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-ibm-plex-mono);
}
.feedUpdates {
  position: absolute;
  top: 0px;
  left: 14px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 441.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-5xl);
  gap: 33px;
  max-width: 100%;
  z-index: 14;
  font-size: var(--font-size-5xs);
  font-family: var(--font-vt323);
}
.surveillanceFeedItem {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 18;
}
.surveillanceFeedItem1 {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 5px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 19;
}
.feedItem {
  position: absolute;
  top: 15px;
  left: 0px;
  width: 28.1px;
  height: 5px;
}
.feedItem1 {
  position: absolute;
  top: 15px;
  left: 441.9px;
  width: 28.1px;
  height: 5px;
}
.feedItems {
  height: 322px;
  flex: 1;
  position: relative;
  min-width: 305px;
  max-width: 100%;
}
.feedHeaderChild {
  width: 250.1px;
  height: 31px;
  position: relative;
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  display: none;
  z-index: 0;
}
.quantumSurveillance1 {
  width: 103px;
  position: relative;
  line-height: 5px;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  z-index: 6;
}
.feed3 {
  width: 72.9px;
  position: relative;
  line-height: 5px;
  color: var(--color-white);
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  z-index: 6;
}
.feedHeader {
  align-self: stretch;
  height: 31px;
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-2xs) var(--padding-9xs);
  position: relative;
  gap: var(--gap-9xs);
  z-index: 4;
}
.documentClassQuantam {
  flex: 1;
  position: relative;
  line-height: 16px;
}
.documentClassQuantam1 {
  flex: 1;
  position: relative;
  line-height: 16px;
  margin-left: -141px;
}
.documentContent {
  width: 141px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.bogdanoffResearchProtocol1 {
  flex: 1;
  position: relative;
  line-height: 16px;
  margin-left: -137px;
}
.documentContent1 {
  width: 137px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-gray-100);
}
.timelineManipulationManual1 {
  flex: 1;
  position: relative;
  line-height: 16px;
  margin-left: -149px;
}
.documentContent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-gray-100);
}
.cautionMemeticHazard1 {
  flex: 1;
  position: relative;
  line-height: 16px;
  margin-left: -133px;
}
.documentContent3 {
  width: 133px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.documentContentParent {
  flex: 1;
  filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  opacity: 0.54;
  mix-blend-mode: screen;
  z-index: 5;
}
.documentListInner {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.54;
  z-index: 4;
}
.documentList {
  width: 179px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-mini);
  box-sizing: border-box;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.feedContainer {
  position: absolute;
  top: 0px;
  left: 7.9px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 250.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0px 0px 198px;
  gap: var(--gap-mini);
  z-index: 2;
  text-align: right;
  font-size: var(--font-size-5xs);
  color: var(--color-gray-400);
  font-family: var(--font-vt323);
}
.panelContent {
  position: absolute;
  top: 15px;
  left: 0px;
  width: 15.9px;
  height: 5px;
}
.panelContent1 {
  position: absolute;
  top: 15px;
  left: 250.1px;
  width: 15.9px;
  height: 5px;
}
.surveillancePanel {
  height: 322px;
  position: relative;
  min-width: 266px;
  margin-left: -11px;
}
.feedContent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  row-gap: 20px;
}
.surveillanceFeed {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-sm) 0px var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -5px;
}
.footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 404px;
  min-width: 486px;
  max-width: 100%;
  margin-left: -29px;
}
.rectangleParent {
  flex: 1;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-700);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-10xs) var(--padding-35xl)
    var(--padding-60xl);
  position: relative;
  row-gap: 20px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
  font-family: var(--font-ibm-plex-mono);
}
.chatbotPage7Inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-11xs) 0px var(--padding-6xs);
  box-sizing: border-box;
  max-width: 100%;
}
.chatbotPage7 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-800);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-36xl) 82px var(--padding-11xs) 81px;
  box-sizing: border-box;
  gap: 41.6px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
  font-family: var(--font-vt323);
}

@media screen and (max-width: 1200px) {
  .frameParent {
    flex: 1;
  }

  .rectangleParent {
    flex-wrap: wrap;
    padding-left: 39px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .footer {
    min-width: 100%;
    margin-left: 0;
  }

  .rectangleParent {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-16xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .frameParent {
    gap: var(--gap-12xl);
    min-width: 100%;
  }

  .surveillancePanel {
    flex: 1;
    margin-left: 0;
  }

  .feedContent {
    flex-wrap: wrap;
  }

  .footer {
    gap: 202px;
  }

  .chatbotPage7 {
    gap: 21px;
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-22xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .input {
    flex-wrap: wrap;
  }

  .footerItemRow {
    flex-wrap: wrap;
  }

  .footer {
    gap: 101px;
  }

  .rectangleParent {
    padding-bottom: var(--padding-4xl);
    box-sizing: border-box;
  }
}
