.screenshot20250124At940 {
  width: 1370px;
  position: relative;
  border-radius: var(--br-4xl);
  max-height: 100%;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.frameChild {
  width: 37.3px;
  flex: 1;
  position: relative;
  max-height: 100%;
  flex-shrink: 0;
}
.frameItem {
  height: 17.7px;
  width: 13.8px;
  position: relative;
  flex-shrink: 0;
}
.vectorWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-smi) 0px var(--padding-3xs);
}
.vectorParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 68.3px;
  flex-shrink: 0;
}
.timelineInner {
  margin-left: -209px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 241.9px 0px 0px;
}
.vectorIcon {
  width: 6px;
  height: 11.3px;
  position: relative;
}
.vectorContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-3) 0px 0px;
}
.backToMain {
  position: relative;
  font-size: var(--font-size-3xs);
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-ibm-plex-mono);
  color: var(--color-black);
  text-align: left;
}
.frameDiv {
  backdrop-filter: blur(50px);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-2xl) var(--padding-3xs)
    var(--padding-3xl);
  gap: var(--gap-8xs);
}
.groupDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.frameContainer {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 415.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameInner {
  height: 30.5px;
  width: 180.7px;
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  display: none;
  z-index: 0;
}
.simulator {
  text-decoration: none;
  height: 15.7px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.76em;
  line-height: 15.7px;
  font-weight: 700;
  font-family: var(--font-ibm-plex-mono);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.bogdanoffLogoHighRes1 {
  height: 63.3px;
  width: 337px;
  position: absolute;
  margin: 0 !important;
  top: -47.9px;
  left: -168.5px;
  object-fit: cover;
  z-index: 2;
}
.rectangleParent {
  cursor: pointer;
  border: none;
  padding: var(--padding-5xs-4) var(--padding-sm);
  background-color: var(--color-white);
  align-self: stretch;
  border-radius: var(--br-13xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.rectangleParent:hover {
  background-color: var(--color-gainsboro);
}
.frameWrapper1 {
  width: 180.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl-2) 0px 0px;
  box-sizing: border-box;
}
.rectangleDiv {
  height: 36.7px;
  width: 36.7px;
  position: relative;
  backdrop-filter: blur(50px);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: none;
}
.iconParktelegram {
  height: 24.4px;
  width: 24.4px;
  position: relative;
  border-radius: var(--br-mini);
  z-index: 1;
}
.rectangleGroup {
  backdrop-filter: blur(50px);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-3) var(--padding-7xs) var(--padding-7xs);
}
.frameChild1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  backdrop-filter: blur(50px);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: none;
}
.groupIcon {
  position: absolute;
  height: 66.49%;
  width: 66.49%;
  top: 17.17%;
  right: 16.08%;
  bottom: 16.35%;
  left: 17.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.rectangleContainer {
  height: 36.7px;
  width: 36.7px;
  position: relative;
  backdrop-filter: blur(50px);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
}
.x2d680126Wrapper {
  cursor: pointer;
  border: none;
  padding: var(--padding-3xs) var(--padding-5xl);
  background-color: var(--color-white);
  backdrop-filter: blur(50px);
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.x2d680126Wrapper:hover {
  background-color: var(--color-gainsboro);
}
.frameParent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl-3);
}
.frameGroup {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.frameWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-21xl) 0px var(--padding-22xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xl-3);
  flex-shrink: 0;
  max-width: 100%;
}
.timeline {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-800);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-54xl-7) var(--padding-22xl) 356.3px;
  box-sizing: border-box;
  gap: 171.7px;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1350px) {
  .timeline {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .frameParent {
    gap: var(--gap-mini);
  }

  .timeline {
    gap: 86px;
  }
}
@media screen and (max-width: 450px) {
  .timelineInner {
    padding-top: 157px;
    box-sizing: border-box;
  }

  .timeline {
    gap: 43px;
  }
}
