.b {
  height: 20px;
  width: 25px;
  position: relative;
  line-height: 20px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.wrapper {
  width: 84.9px;
  height: 25px;
  backdrop-filter: blur(12.2px);
  border-radius: var(--br-24xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) var(--padding-11xl-4);
  box-sizing: border-box;
  flex-shrink: 0;
  z-index: 2;
}
.blankLine {
  margin: 0;
}
.ancientProphecyZe {
  margin: 0;
  color: var(--color-gray-1000);
}
.bogdanoffTwinsEmergeContainer1 {
  width: 100%;
}
.bogdanoffTwinsEmergeContainer {
  margin-top: -12px;
  margin: 0;
  height: 101px;
  width: 347.4px;
  position: relative;
  font-size: inherit;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.bogdanoffTwinsEmergeFromQuWrapper {
  width: 347.4px;
  height: 89px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px;
  box-sizing: border-box;
  z-index: 1;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.frameParent {
  width: 347.4px;
  height: 114px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-ibm-plex-mono);
}
